$bgcolor: red;
$textprimary: #fff;
$accentcolor: #ff6600;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  box-sizing: border-box;
  background: $bgcolor;
  color: $textprimary;
}
.icon {
  width: 22px;
  line-height: 1.5;
  margin: 2px;
}
.list-item {
  display: flex;
  gap: 10px;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.menu {
  color: $accentcolor;
  width: 24px;
  background: inherit;
  margin: 2px;
}
